.bodyHomepage {
  background: #000000;
  background: linear-gradient(90deg, #0e0e0e 0%, #2e2e2e 50%);
  color: white;
}

#songDet {
  background: #010101;
  background: linear-gradient(90deg, #000000 10%, #494646 45%);
}

.backgroundHp {
  background-color: #363636;
}

#verificato {
  fill: var(--text-announcement, #0c67d3);
}

.bodyArtist {
  color: white;
  background: #010101;
  background: linear-gradient(180deg, #010101 15%, #464545 60%);
}

body {
  /*   background: rgb(2,0,36); */
  background: linear-gradient(6deg, rgba(2, 10, 8, 1) 50%, rgba(120, 117, 117, 1) 100%);
}

#mainContainer {
  padding-top: 100px;
}

#topImage {
  height: 100%;
  box-shadow: inset;
}

h1 {
  font-size: 6rem;
  color: white;
}

.albumText {
  font-size: 0.875rem;
  color: white;
}

#artistProfileImage {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

a {
  color: white;
  text-decoration: none;
}

#playButton {
  background-color: rgb(28, 190, 28);
  border-radius: 50%;
  /* font-size: 1.5rem; */
  height: 55px;
  width: 55px;
}

#musiclistBottom {
  border-bottom: 1px solid;
  border-color: white;
  opacity: 1;
}
