@import url(/assets/css/circular-font.css);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

body {
  background: linear-gradient(90deg, #0e0e0e 0%, #2e2e2e 50%);
}
.sidebarLeft,
.sidebarRight {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  background: black;

  overflow-x: hidden;
  padding-top: 20px;
}
.sidebarLeft {
  left: 0;
}
.sidebarRight {
  right: 0;
  text-align: right;
  display: inline;
}

.sidebarLeft a,
.sidebarRight a {
  text-decoration: none;
  font-size: 20px;
  display: block;
  color: gray;
}
.sidebarLeft a {
  padding: 6px 8px 6px 0px;
}
.sidebarRight a {
  padding: 6px 8px 6px 0px;
  display: inline;
}
.sidebarRight div {
  color: aliceblue;
}
.sidebarLeft a:hover,
.sidebarRight a:hover {
  color: aliceblue;
}
hr {
  color: lightgray;
}

.collapsed {
  width: 50px;
}
main {
  padding-left: 22%;
  padding-right: 22%;
  background: linear-gradient(90deg, #0e0e0e 0%, #2e2e2e 50%);
  color: white;
  padding-top: 20px;
  padding-bottom: 150px;
  overflow: scroll;
}

.pSidebarleft {
  padding-left: 75px;
}
.pSidebarright {
  padding-right: 75px;
}
a {
  text-decoration: none;
  color: gray;
}
a:hover {
  color: aliceblue;
}
footer {
  bottom: 0;
  position: fixed;
  height: 150px;
  z-index: 2;
  color: gray;
}
footer img {
  height: 125px;
}
