@import url(/assets/css/circular-font.css);
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css');

body {
  background: linear-gradient(90deg, #0e0e0e 0%, #2e2e2e 50%);
  font-family: 'Circular';
}
.sidebarLeft,
.sidebarRight {
  height: 100%;
  width: 20vw;
  position: fixed;
  z-index: 1;
  top: 0;
  background: black;

  overflow-x: hidden;
  padding-top: 20px;
}
.sidebarLeft {
  left: 0;
}
.sidebarRight {
  right: 0;
  text-align: right;
  display: inline;
}

.sidebarLeft a,
.sidebarRight a {
  text-decoration: none;
  font-size: 20px;
  display: block;
  color: gray;
}
.sidebarLeft a {
  padding: 6px 8px 6px 0px;
}
.sidebarRight a {
  padding: 6px 8px 6px 0px;
  display: inline;
}
.sidebarRight div {
  color: aliceblue;
}
.sidebarLeft a:hover,
.sidebarRight a:hover {
  color: aliceblue;
}
hr {
  color: lightgray;
}

.collapsed {
  width: 50px;
}
.collapsed a span {
  display: none;
}
main {
  padding-left: 20vw;
  padding-right: 20vw;
  background: linear-gradient(90deg, #0e0e0e 0%, #2e2e2e 50%);
  color: white;
  padding-top: 20px;
  padding-bottom: 100px;
  overflow: auto;
  height: 100vh;
}

/* play Button */

/* #playButton {
  color: green;
} */

.pSidebarleft {
  padding-left: 50px;
}
.pSidebarright {
  padding-right: 50px;
}
a {
  text-decoration: none;
  color: gray;
}
a:hover {
  color: aliceblue;
}

/* buonasera icons */

.buonasera-notification {
  display: none;
}

footer {
  bottom: 0;
  position: fixed;
  height: 100px;
  z-index: 2;
  color: gray;
}
.desktopFooter {
  height: 100%;
}

footer img {
  height: 75px;
}
.playlist,
.friendList {
  max-height: 100vh;
}

.bodyHomepage {
  background: #000000;
  background: linear-gradient(90deg, #0e0e0e 0%, #2e2e2e 50%);
  color: white;
  padding-inline: 25px;
  padding-top: 10px;
}

#songDet {
  background: #010101;
  background: linear-gradient(90deg, #000000 10%, #494646 45%);
}

.backgroundHp {
  background-color: #363636;
}

#verificato {
  fill: var(--text-announcement, #0c67d3);
}

.bodyArtist {
  color: white;
  background: #010101;
  background: linear-gradient(180deg, #010101 15%, #464545 60%);
  padding-top: 0;
}

#artistCoverImg {
  width: 100%;
  background-size: cover;
  padding: 20px;
  background-position: center;
}

.text-light::placeholder {
  color: gray;
}
.albumTitle {
  font-size: 4rem;
}
.progress {
  height: 8px;
}
.album-homepage-cover,
.top-page {
  display: flex;
}
.top-page {
  padding-top: 10px;
}
.playlist-List {
  display: none;
}
.searchBar {
  margin: 20px;
}
#searchResults .row {
  height: 20vw;
}

/* like button */

.likeButtonClickNone {
  color: green;
}

#likeNotification {
  position: fixed;
  z-index: 3;
  bottom: 100px;
  left: 42%;
}

.displayActivity {
  display: none;
}

.displayActivity {
  display: none;
}

@media screen and (max-width: 1200px) {
  .sidebarLeft,
  .sidebarRight {
    width: 50px;
    overflow: hidden;
  }
  .sidebarLeft a span {
    display: none;
  }
  .sidebarRight a span {
    display: none;
  }
  .collapse-left,
  .expand-left {
    display: none !important;
  }
  .sidebarRight {
    display: none !important;
  }
  main {
    padding-left: 50px;
    padding-right: 0px;
  }
  .songDet {
    display: none;
  }
  .imgSideBar {
    width: 30px;
    height: 30px;
  }
  .pSideBar {
    display: none;
  }
  .scopriSideBar {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  main {
    padding-left: 50px;
    padding-right: 0;
  }
}
@media screen and (max-width: 500px) {
  .albumResponsive {
    flex-direction: column;
  }
  .albumResponsive2 {
    display: flex;
  }
  .mgResponsive {
    margin-left: 5%;
  }
}
@media screen and (min-width: 1200px) {
  .imgSideBar {
    display: none;
  }
}
/* buonasera icon media query */

@media (max-width: 576px) {
  .buonasera-notification {
    display: inline;
  }
  .query-size {
    width: 100%;
  }
  footer i {
    font-size: 35px;
  }
  footer {
    background: rgba(0, 0, 0, 0.6);
  }
  .album-homepage-cover,
  .top-page {
    display: none;
  }
  .sidebarLeft,
  .sidebarRight {
    display: none;
  }
  main {
    padding-left: 5%;
    padding-right: 5%;
  }
  .pSidebarleft {
    padding-left: 5%;
  }
  .pSidebarright {
    padding-right: 5%;
  }
  .playlist-List {
    display: block;
  }
  .desktopFooter {
    display: none;
  }
  .media-query-styling {
    flex-direction: column;
  }
  main {
    padding: 0 20px 120px 20px;
  }
  .searchBar {
    margin-top: 20px;
  }
  #artistCoverImg {
    padding: 20px 20px;
  }
  .media-query {
    margin-top: 10px;
  }
}
