@import url(/assets/css/circular-font.css);
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css');

body {
  background: linear-gradient(90deg, #0e0e0e 0%, #2e2e2e 50%);
  font-family: 'Circular';
}
.sidebarLeft,
.sidebarRight {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  background: black;

  overflow-x: hidden;
  padding-top: 20px;
}
.sidebarLeft {
  left: 0;
}
.sidebarRight {
  right: 0;
  text-align: right;
  display: inline;
}

.sidebarLeft a,
.sidebarRight a {
  text-decoration: none;
  font-size: 20px;
  display: block;
  color: gray;
}
.sidebarLeft a {
  padding: 6px 8px 6px 0px;
}
.sidebarRight a {
  padding: 6px 8px 6px 0px;
  display: inline;
}
.sidebarRight div {
  color: aliceblue;
}
.sidebarLeft a:hover,
.sidebarRight a:hover {
  color: aliceblue;
}
hr {
  color: lightgray;
}

.collapsed {
  width: 50px;
}
main {
  padding-left: 22%;
  padding-right: 22%;
  background: linear-gradient(90deg, #0e0e0e 0%, #2e2e2e 50%);
  color: white;
  padding-top: 20px;
  padding-bottom: 150px;
  overflow: auto;
  height: 100vh;
}

.pSidebarleft {
  padding-left: 75px;
}
.pSidebarright {
  padding-right: 75px;
}
a {
  text-decoration: none;
  color: gray;
}
a:hover {
  color: aliceblue;
}
footer {
  bottom: 0;
  position: fixed;
  height: 100px;
  z-index: 2;
  color: gray;
}
footer img {
  height: 75px;
}
.playlist,
.friendList {
  max-height: 100vh;
}

.bodyHomepage {
  background: #000000;
  background: linear-gradient(90deg, #0e0e0e 0%, #2e2e2e 50%);
  color: white;
  padding-inline: 25px;
  padding-top: 10px;
}

#songDet {
  background: #010101;
  background: linear-gradient(90deg, #000000 10%, #494646 45%);
}

.backgroundHp {
  background-color: #363636;
}

#verificato {
  fill: var(--text-announcement, #0c67d3);
}

.bodyArtist {
  color: white;
  background: #010101;
  background: linear-gradient(180deg, #010101 15%, #464545 60%);
}

#artistCoverImg {
  width: 100%;
  background-size: cover;
}

.text-light::placeholder {
  color: gray;
}
.albumTitle {
  font-size: 4rem;
}

@media screen and (max-width: 1200px) {
  .sidebarLeft {
    display: none;
  }
  main {
    padding-left: 5%;
    padding-right: 5%;
  }
  .songDet {
    display: none;
  }
  .sidebarRight {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  main {
    padding-left: 5%;
    padding-right: 5%;
  }
}
